<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <security><requestFiltering><hiddenSegments><add segment="src" /><add segment="storage" /></hiddenSegments><fileExtensions><add fileExtension=".md" allowed="false" /><add fileExtension=".example" allowed="false" /></fileExtensions></requestFiltering></security>
    <rewrite><rules><rule name="Block private PHP files" stopProcessing="true"><match url="^(config(?:\.local)?|router|selftest)\.php$" ignoreCase="true" /><action type="CustomResponse" statusCode="404" /></rule><rule name="Internal provider front controller" stopProcessing="true"><match url=".*" /><conditions><add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" /><add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /></conditions><action type="Rewrite" url="public/index.php" appendQueryString="true" /></rule></rules></rewrite>
  </system.webServer>
</configuration>
